@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&family=Poetsen+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}
html , body{
    height: 100%;
    width: 100%;
}
.seection-p1{
  padding: 40px 80px;
}
.section-m1{
  margin: 40px 0;
}

/* Header Section */
.header{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  position: fixed;
  z-index: 1000;
}
.header-menu{
  width: 35%;
}
.header-menu ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none; 
  position: relative;
}
.header-menu  ul  a{
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}
.header-menu ul a :hover{
  color: #fff;
  transition: all ease-in-out .02s;
  transform: scale(1.4);
}

/* Hero Section */
#hero-section{
  background-image: url(Images/banner-img.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 0 80px;
}
#hero{
 position: absolute;
 top: 40%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 15px;
}
#hero>h4{
  font-size: 1.7rem;
  font-weight: 300;
}
#hero>h2{
  font-size: 2.5rem;
  font-weight: 500;
}
#hero>h1{
  font-size: 5rem;
  font-weight: 600;
  color: rgb(252, 252, 252);
}
#hero button{
  cursor: pointer;
  background-image: url("Images/button.png");
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 20px;
}

/* Feature section CSS */
#feature>h2{
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  padding: 20px 30px;
}
.features{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#feature .feature-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px  rgba(0, 0, 0, 0.08);
  border: 1px solid #cce7d0;
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
}
#feature .feature-box:hover{
  transform: scale(1.035);
  transition: all ease-in-out 0.2s;
  box-shadow: 10px 10px 64px rgba(70, 60, 220, 0.1);
}
#feature .feature-box img{
  width: 100%;
  margin-bottom: 30px;
}
#feature .feature-box h6{
  display: inline-block;
  padding: 9px 6px 8px 9px;
  line-height: 1.5;
  border-radius: 5px;
  color: #088178;
  background-color: #fddde4;  
}
#feature .feature-box:nth-child(2) h6{
  background-color: #cdebbc;
}
#feature .feature-box:nth-child(3) h6{
  background-color: #d1e8f2;
}
#feature .feature-box:nth-child(4) h6{
  background-color: #cdd4f8;
}
#feature .feature-box:nth-child(5) h6{
  background-color: #f6dbf6;
}
#feature .feature-box:nth-child(6) h6{
  background-color: #fff2e5;
}


/* Scroll section */
#shopping{
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
  overflow: hidden;
}
#shopping p{
  font-size: 30vw;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  top: 25%;
}

/* Featured Products */
.feature-product>h2{
  text-align: center;
  font-weight: 600;
  font-size: 4.5rem;
  margin: 20px;
}
.feature-product>p{
  text-align: center;
  font-weight: 200;
  font-size: 1.5rem;
  margin: 20px;
}

.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 50px;
  padding: 10px;
}

.product-container{
  height: 480px;
  width: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid black;
  padding: 25px 25px;
  box-shadow: 20px 20px 34px  rgba(0, 0, 0, 0.08);
  border: 1px solid #cce7d0;
  border-radius: 5px;
  margin: 15px 0;
  gap: 10px;
  
}
.product-container>img{
  border-radius: 25px;
}
.brand-name{
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: start;
}
.brand-name p{
  font-weight: 300;
}
.product-name{
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: start;
}
.product-name h2{
  font-weight: 500;
  font-size: 20px;
  white-space: nowrap;
}
.review{
  width: 100%;
  color: rgb(255, 183, 0);
  display: flex;
  align-items: start;
  padding-left: 10px;
}
.price{
  width: 100%;
  display: flex;
  padding-left: 10px;
  flex-direction: row;
  gap: 5px;
}
.price>p{
  font-size: 1.5rem;
  font-weight: 500;
}
.price>.selling-price{
  font-size: 1.2rem;
  font-weight: 300;
}
.place-order{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
.place-order>button{
  height: 40px;
  width: 80px;
  background-color: #000;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.place-order>i{
  cursor: pointer;
}
.add-to-cart{
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}